/* Styling for body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* Styling for container */
.container {
  width: 100vw;
  height: 100vh;
  padding: 10px 30px;
  background-color: black;
  color: white;
}

/* Styling for nav-bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 5px 12px;
  font-size: 26px;
  color: red;
  gap: 2px;
}

.logo h2{
   color: white;
   font-size: 24px;
   font-weight: 600;
   transform: scaleX(0.7);
   margin-left: -0.9rem;
   margin-bottom: 3px;
}

.logo sup{
   color: rgb(170, 170, 170);
   font-size: 10px;
   margin-bottom: 10px;
   margin-left: -0.9rem;
}


/* .logo img {
  object-fit: cover;
  width: 50px;
  cursor: pointer;
} */

.fa-bars {
  color: white;
  cursor: pointer;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.nav-search input {
  width: 100%;
  padding: 8px 20px;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 25px 0px 0px 25px;
  outline: none;
}

.nav-search .fa-search {
  background-color: rgb(37, 37, 37);
  padding: 12px 25px;
  cursor: pointer;
  border-left: 0px;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 0px 25px 25px 0px;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fa-microphone {
  width: 43px;
  height: 43px;
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(37, 37, 37);
  color: white;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav-right button {
  border-radius: 40px;
  padding: 9px 20px;
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.nav-right .fa-user-tie {
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 13px 13px;
  background-color: rgb(37, 37, 37);
  width: 43px;
  height: 43px;
  cursor: pointer;
}

.fa-bell{
   cursor: pointer;
   font-size: 25px;
}

/* Styling for main-section */

.main-container{
   display: flex;
   flex-direction: row;
   gap: 20px;
}

aside .aside-parent{
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   gap: 5px;
   margin-top: 20px;
   width: 220px;
   height: 100vh;
}
aside .aside-parent:hover{
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   transition: 0.5s;
   gap: 5px;
   margin-top: 20px;
   width: 220px;
   height: 100vh;
   overflow-y: scroll;
   overscroll-behavior: contain;
   scrollbar-width: thin;
   scroll-behavior: smooth; 
   scrollbar-color: rgb(152, 152, 152) black;
}


.aside-parent .aside-button{
   display: flex;
   align-items: center;
   color: white;
   text-align: start;
   width: 100%;
   cursor: pointer;
   padding: 10px;
}
.aside-parent .aside-button:hover{
   background-color: rgb(56, 56, 56);
   border-radius: 10px;
   text-align: start;
   padding: 10px;
   color: white;
   cursor: pointer;
}

.aside-parent .aside-button-subscription{
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: white;
   text-align: start;
   width: 100%;
   cursor: pointer;
   padding: 10px;
}
.aside-parent .aside-button-subscription:hover{
   background-color: rgb(56, 56, 56);
   border-radius: 10px;
   text-align: start;
   padding: 10px;
   color: white;
   cursor: pointer;
}

aside .a-left{
   margin-left: 20px;
   font-size: 16px;
   cursor: pointer;
   font-weight: 400;
}

.fa-plus-minus{
   font-size: 20px;
}

.hr{
   width: 100%;
   border-top: 1px solid rgb(56, 56, 56);
   background-color: rgb(56, 56, 56);
}


.fa-angle-right{
   margin-left: -5px;
}

.subscriptions{
   padding: 10px;
   font-weight: 600;
}

.subscription-icon{
   width: 25px;
   height: 25px;
   border: 1px solid white;
   border-radius: 50%;
   display: grid;
   place-items: center;
   color: white;
   margin-right: 20px;
   object-fit: cover;
}

.red{
   color: red;
}

.aside-button-youtube{
   display: flex;
   align-items: left;
   justify-content: start;
   color: white;
   text-align: start;
   width: 100%;
   cursor: pointer;
   padding: 10px;

}

aside .a-left-youtube{
   font-size: 16px;
   cursor: pointer;
   font-weight: 400;
   text-align: left;
}

.main-right{
   width: 80vw;
   height: 100vh;
   background-color: black;

}

.tags{
   display: flex;
   flex-direction: row;
   gap: 10px;
   margin-top: 20px;
   padding: 10px;
   /* border-bottom: 1px solid rgb(56, 56, 56); */
   display: flex;
   overflow-x: auto;
   white-space: nowrap;
   gap: 10px;
   scrollbar-width: none;
   -ms-overflow-style: none;
   width: 99%;
}

.tag{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 3px 10px;
   background-color: rgb(56, 56, 56);
   border-radius: 5px;
   cursor: pointer;
   display: inline-block;
   transition: background-color 0.3s ease;
}

.tag:hover{
   background-color: rgb(37, 37, 37);
}

.tag-selected{
   display: flex;
   color: black;
   align-items: center;
   justify-content: center;
   padding: 3px 10px;
   background-color: white;
   cursor: pointer;
   border-radius: 5px;
}

.tag-selected:hover{
   background-color: rgb(0, 0, 0);
   color: white;
   border: 2px solid white;
   padding: 1.5px 8.5px;
}

.card-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 20px;
}

.card{
   cursor: pointer;
   padding: 8px;
   border-radius: 10px;
   /* background-color: white; */
}
.card:hover{
   transform: scale(1.01);
   transition: 0.2s;
   /* background-color: white; */
}

.card img{
   border-radius: 10px 10px 10px 10px;
   object-fit: cover;
}

.card-tile{
   display: flex;
   flex-direction: row;
   align-items: start;
   gap: 10px;
   justify-content: space-evenly;
   padding: 10px 10px;
}

.card-tile img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-top: 5px;
}

.card-tile-text{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1px;
   width: 100%;
}

.card-tile-text h2{
   font-size: 16px;
   font-weight: 600;
}

.card-tile-text p{
   font-size: 14px;
   font-weight: 400;
   color: rgb(170, 170, 170);
}